@font-face {
  font-display: block;
  font-family: 'nnizer-set';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/nnizer-icons.eot?t6e2rh');
  src:
    url('../../fonts/nnizer-icons.eot?t6e2rh#iefix') format('embedded-opentype'),
    url('../../fonts/nnizer-icons.ttf?t6e2rh') format('truetype'),
    url('../../fonts/nnizer-icons.woff?t6e2rh') format('woff'),
    url('../../fonts/nnizer-icons.svg?t6e2rh#nnizer-icons') format('svg');
}

[class^='icon-'],
[class*=' icon-'],
*::after,
*::before {
  font-family: 'nnizer-set' !important;  /* stylelint-disable-line */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

[class^='icon-'],
[class*=' icon-'] {
  font-size: 20px;
}

.icon-envelope::before {
  content: '\e900';
}

.icon-facebook::before {
  content: '\e901';
}

.icon-instagram::before {
  content: '\e902';
}

.icon-location::before {
  content: '\e903';
}

.icon-phone::before {
  content: '\e904';
}

.icon-website::before {
  content: '\e905';
}

.icon-add::before {
  content: '\e906';
}

.icon-arrow::before {
  content: '\e907';
}

.icon-bell::before {
  content: '\e908';
}

.icon-cross::before {
  content: '\e909';
}

.icon-edit::before {
  content: '\e90a';
}

.icon-email::before {
  content: '\e90b';
}

.icon-filter::before {
  content: '\e90c';
}

.icon-help::before {
  content: '\e90d';
}

.icon-human::before {
  content: '\e90e';
}

.icon-logout::before {
  content: '\e90f';
}

.icon-manage::before {
  content: '\e910';
}

.icon-people::before {
  content: '\e911';
}

.icon-reviews::before {
  content: '\e913';
}

.icon-search::before {
  content: '\e914';
}

.icon-settings::before {
  content: '\e915';
}

.icon-sort::before {
  content: '\e916';
}

.icon-statistics::before {
  content: '\e917';
}

.icon-tick::before {
  content: '\e918';
}

.icon-menu::before {
  content: '\e919';
}

.icon-delete::before {
  content: '\e91a';
}
