@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');

html,
body,
input {
  color: $color-black;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: rem(48px);
  font-weight: bold;
  line-height: calc(3rem * 1.25);
  margin-bottom: rem(45px);
}

h2 {
  font-size: rem(36px);
  line-height: rem(36px * 1.4);
}

p {
  font-size: rem(16px);
  font-weight: 300;
  letter-spacing: rem(0.5px);
  line-height: calc(1rem * 1.5);
  max-width: 50ch;
}
