@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

html * {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.875rem;
    line-height: calc(3rem * 1.25rem);
}