// Mixin for responsive breakpoints handling
// Example usage @include breakpoint(sm) { display:none }; - where sm is small device (>=567px)
@mixin breakpoint($bp) {
  @if $bp == xl {
    @media only screen and (min-width: $breakpoint-xl) {
      @content;
    }
  } @else if $bp == lg {
    @media only screen and (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $bp == md {
    @media only screen and (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $bp == sm {
    @media only screen and (min-width: $breakpoint-sm) {
      @content;
    }
  }
}

// Mixin for getting key from z-indexes map
// Example usage @include z-index(modal) where modal is 200 - returns z-index: 200;
@mixin z-index($key) {
  z-index: map-get($z-index, $key);
}

// Mixin for getting transition properties
// Example usage @include transition(transform 0.2s, background-color 0.2s) - returns : transform 0.2s, background-color 0.2s;
@mixin transition($x...) {
  transition: $x;
  transition-timing-function: ease-in-out;
}
