$base-line-height: 1.45;
$base-font-size: 16px;

// Responsive breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// Container sizes depending on screen
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;

// z-index with maps
$z-index: (
  above: 100,
  modal: 50,
  sidenav: 20,
  dropdown: 10,
  overlay: 5,
  link: 2,
  header: 1,
  below: -1
);
