.status {
  border-radius: rem(4px);
  font-size: rem(14px);
  letter-spacing: rem(1px);
  padding: rem(12px);
  text-transform: uppercase;

  &.-circle {
    border-radius: 50%;
    height: rem(16px);
    padding: 0;
    width: rem(16px);
  }

  &.-pending {
    background-color: $color-success-bg;
    color: $color-success-text;
  }

  &.-cancelled,
  &.-done {
    background-color: $color-error-bg;
    color: $color-error-text;
  }

  &.-not-confirmed {
    background-color: $color-warning-bg;
    color: $color-warning-text;
  }

  &.-full {
    width: 100%;
  }
}
