{% extends 'base.html.twig' %}

{% block title %} {{ "home.header"|trans }} {% endblock %}

{% block body %}
    <main class="home">
        {% include 'home/partials/hero.html.twig' %}
        
    </main>
{% endblock %}
