{% extends 'base.html.twig' %}

{% block title %} {{ "home.header"|trans }} {% endblock %}

{% block body %}
    <main class="home">
        {% include('home/partials/hero.html.twig') %}
        {% include('home/partials/steps.html.twig') %}
        {% include('home/partials/benefits.html.twig') %}
        {% include('home/partials/team.html.twig') %}
        {% include('home/partials/banner.html.twig') %}
    </main>
{% endblock %}
