parameters:
    symfony:
        container_xml_path: var/cache/dev/srcApp_KernelDevDebugContainer.xml
    excludes_analyse:
      	- src/Migrations/*


#run the test with this command: vendor/bin/phpstan analyse -l 0 src