.admin {
  background-color: $color-admin;

  svg,
  rect {
    min-height: 100vh;
  }
}

.panel {
  min-height: 100vh;
  position: relative;

  @include transition(transform 0.3s);

  @include breakpoint(md) {
    margin-left: rem(160px);
    transition-property: none;
  }

  &.-nav-open {
    overflow-y: hidden;
    transform: translateX(rem(240px));

    .overlay {
      opacity: 1;
      pointer-events: auto;
    }

    @include breakpoint(md) {
      margin-left: rem(160px);
    }
  }

  &__content {
    padding-top: rem(32px);
  }

  &__time {
    color: $color-grey-3;
    font-size: rem(14px);
    font-weight: 600;
  }

  &__review-title {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .rating {
      margin: 0;
    }
  }
}
