{% extends 'base.html.twig' %}

{% block title %} {{ "contractor_page.welcome"|trans({'%name%': app.user.firstname}, "messages") }}{% endblock %}

{% block body %}
<div class="container container--top-spacing">
    <h1>{{ "contractor_page.welcome"|trans({'%name%': app.user.firstname}, "messages") }}</h1>
</div>
{% endblock %}
