{% extends 'base.html.twig' %}

{% block title %} {{ "contractor_page.welcome"|trans({'%name%': app.user.firstname}, "messages") }}{% endblock %}

{% block body %}
    <div class="container container--top-spacing">
        <h2>{{ "contractor_page.welcome"|trans({'%name%': app.user.firstname}, "messages") }}</h2>

        <ul id="contractor__reservations">
        </ul>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('react') }}
    {% endblock %}
{% endblock %}
