{% extends 'admin.html.twig' %}

{% block title %} {{ "contractor_page.welcome"|trans({'%name%': app.user.firstname}, "messages") }}{% endblock %}

{% block body %}
    <nav class="sidenav js-sidenav">
        <i class="icon-cross sidenav__close js-sidenav-close"></i>
        <img src="{{ asset('build/images/nnizer-logo.svg') }}" alt="nnizer type logotype" class="sidenav__logo">
        <ul class="sidenav__links">
            <li class="sidenav__link -active">
                <i class="icon-people"></i>
                Reservations
            </li>
            <li class="sidenav__link">
                <i class="icon-manage"></i>
                Management
            </li>
            <li class="sidenav__link">
                <i class="icon-reviews"></i>
                Reviews
            </li>
            <li class="sidenav__link">
                <i class="icon-statistics"></i>
                Statistics
            </li>
            <li class="sidenav__link">
                <i class="icon-settings"></i>
                Settings
            </li>
            <li class="sidenav__link">
                <i class="icon-help"></i>
                Help desk
            </li>
            <li class="sidenav__link">
                <i class="icon-logout"></i>
                Log out
            </li>
        </ul>
    </nav>

    <div class="panel js-panel">
        <div class="overlay js-overlay"></div>
        <header class="panel__header admin-container">
            <button class="header__toggler js-toggler">
                <i class="icon-menu"></i>
            </button>
            <div class="search header__search js-search">
                <i class="icon-search"></i>
                <input type="search" placeholder="Type in to search…" class="js-search-input">
            </div>
            <div class="header__person">
                <img src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Blank&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light' class="person__avatar"/>
                <span class="person__name">Kornelijus Glinskas</span>
            </div>
        </header>
        <div class="panel__content admin-container">
            <h2>Reservations</h2>
            <ul class="reservations">
                <li class="reservations__labels">
                    <div class="row">
                        <span class="reservations__label col-lg-1">date</span>
                        <span class="reservations__label col-lg-3">name</span>
                        <span class="reservations__label col-lg-3">email address</span>
                        <span class="reservations__label col-lg-2">phone number</span>
                        <span class="reservations__label col-lg-2">status</span>
                        <span class="reservations__label col-lg-1">edit</span>
                    </div>
                </li>
                <li class="reservations__row">
                    <button class="reservations__btn -mobile js-edit">
                        <i class="icon-edit btn__icon"></i>
                    </button>
                    <div class="row">
                        <div class="reservations__item col-lg-1">NOV 21 13:30</div>
                        <div class="reservations__item col-lg-3">
                            <i class="icon-human item__icon hide-lg"></i>
                            Dominykas Murauskas
                        </div>
                        <div class="reservations__item col-lg-3">
                            <i class="icon-email item__icon  hide-lg"></i>
                            dominykasmurauskas<br class="show-lg" />@gmail.com
                        </div>
                        <div class="reservations__item col-lg-2">
                            <i class="icon-phone item__icon hide-lg"></i>
                            +370 627 93122
                        </div>
                        <div class="reservations__item col-lg-2">
                            <div class="status -full -done">
                                Done
                            </div>
                        </div>
                        <div class="reservations__item col-lg-1">
                            <button class="reservations__btn js-edit">
                                <i class="icon-edit btn__icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="reservations__edit js-edit-window">
                            <span class="edit__heading">Time left</span>
                            <span class="edit__time-left">approx. 5 hours</span>
                            <div class="edit__actions">
                                <button class="panel-btn -success">Approve</button>
                                <button class="panel-btn -cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="reservations__row">
                    <button class="reservations__btn -mobile js-edit">
                        <i class="icon-edit btn__icon"></i>
                    </button>
                    <div class="row">
                        <div class="reservations__item col-lg-1">NOV 21 13:30</div>
                        <div class="reservations__item col-lg-3">
                            <i class="icon-human item__icon hide-lg"></i>
                            Dominykas Murauskas
                        </div>
                        <div class="reservations__item col-lg-3">
                            <i class="icon-email item__icon  hide-lg"></i>
                            dominykasmurauskas<br class="show-lg" />@gmail.com
                        </div>
                        <div class="reservations__item col-lg-2">
                            <i class="icon-phone item__icon hide-lg"></i>
                            +370 627 93122
                        </div>
                        <div class="reservations__item col-lg-2">
                            <div class="status -full -done">
                                Done
                            </div>
                        </div>
                        <div class="reservations__item col-lg-1">
                            <button class="reservations__btn js-edit">
                                <i class="icon-edit btn__icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="reservations__edit js-edit-window">
                            <span class="edit__heading">Time left</span>
                            <span class="edit__time-left">approx. 5 hours</span>
                            <div class="edit__actions">
                                <button class="panel-btn -success">Approve</button>
                                <button class="panel-btn -cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="reservations__row">
                    <button class="reservations__btn -mobile js-edit">
                        <i class="icon-edit btn__icon"></i>
                    </button>
                    <div class="row">
                        <div class="reservations__item col-lg-1">NOV 21 13:30</div>
                        <div class="reservations__item col-lg-3">
                            <i class="icon-human item__icon hide-lg"></i>
                            Dominykas Murauskas
                        </div>
                        <div class="reservations__item col-lg-3">
                            <i class="icon-email item__icon  hide-lg"></i>
                            dominykasmurauskas<br class="show-lg" />@gmail.com
                        </div>
                        <div class="reservations__item col-lg-2">
                            <i class="icon-phone item__icon hide-lg"></i>
                            +370 627 93122
                        </div>
                        <div class="reservations__item col-lg-2">
                            <div class="status -full -done">
                                Done
                            </div>
                        </div>
                        <div class="reservations__item col-lg-1">
                            <button class="reservations__btn js-edit">
                                <i class="icon-edit btn__icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="reservations__edit js-edit-window">
                            <span class="edit__heading">Time left</span>
                            <span class="edit__time-left">approx. 5 hours</span>
                            <div class="edit__actions">
                                <button class="panel-btn -success">Approve</button>
                                <button class="panel-btn -cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>   
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
{% endblock %}
