<div class="member step col-12 col-md-6 col-lg-3">
  <img 
    src="{{ avatar }}"
    alt="{{ alt }}"
    class="member__avatar"
  />
  <h3 class="member__name">
    {{ name }}
  </h3>
  <p class="member__position">
    {{ position }}
  </p>
</div>
