<div class="steps__item step col-12 col-md-4">
  <img 
    src="{{ img }}"
    alt="{{ alt }}"
    class="step__icon"
  >
  <h3 class="step__title">
    {{ title }}
  </h3>
  <p class="step__text">
    {{ text }}
  </p>
</div>