.btn {
  background-color: $color-yellow;
  border: solid rem(2px) $color-yellow;
  border-radius: rem(2px);
  color: $color-black;
  font-size: rem(14px);
  font-weight: 600;
  letter-spacing: rem(2px);
  margin-top: rem(24px);
  min-height: rem(40px);
  padding: rem(16px) rem(24px);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &::after {
    border: 2px solid $color-yellow;
    border-radius: rem(2px);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  &:hover {
    transform: translate(rem(-8px), rem(8px));

    &::after {
      opacity: 1;
      transform: translate(rem(8px), rem(-8px));
    }
  }
}

.btn--secondary {
  background: none;

  &:hover {
    background: $color-yellow;
  }
}

.btn--full {
  width: 100%;
}
