.form {
  font-size: 0.875rem;
  margin: 0 rem(1px);

  &__fields {
    display: block;
    position: relative;

    & > div {
      width: 100%;
    }

    & > div:first-child,
    & > ul:first-child {
      margin-right: rem(30px);
    }

    @include breakpoint(md) {
      display: flex;

      & > div {
        width: 100%;
      }
    }
  }

  &__field {
    margin-bottom: 1rem;
    position: relative;
  }

  &__error {
    color: $color-red-2;
    position: relative;
    top: rem(-12px);
  }

  input {
    border: 1px solid $color-grey-2;
    border-radius: rem(2px);
    box-shadow: 0 0 rem(2px) rgba(0, 0, 0, 0.5);
    min-height: rem(40px);
    padding-left: rem(12px);
    width: 100%;
  }

  label {
    background: white;
    color: $color-grey-1;
    left: rem(14px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include transition(font-size 0.2s, padding 0.2s, top 0.2s);
  }

  input:focus,
  input:valid {
    border: 1px solid $color-yellow;
    box-shadow: none;

    ~ label {
      font-size: rem(12px);
      padding: 0 rem(2px);
      top: rem(0);
    }
  }
}
