.btn {
  background-color: $color-yellow;
  border: solid rem(2px) $color-yellow;
  border-radius: rem(2px);
  color: $color-black;
  display: inline-block;
  font-size: rem(14px);
  font-weight: 600;
  letter-spacing: rem(2px);
  margin-top: rem(24px);
  min-height: rem(40px);
  padding: rem(16px) rem(24px);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  @include transition(transform 0.2s, background-color 0.2s);

  &::after {
    border: 2px solid $color-yellow;
    border-radius: rem(2px);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include transition(transform 0.2s, opacity 0.2s);
  }

  &:hover {
    transform: translate(rem(-8px), rem(8px));

    &::after {
      opacity: 1;
      transform: translate(rem(8px), rem(-8px));
    }
  }

  &--secondary {
    background: none;

    &:hover {
      background-color: $color-yellow;
    }
  }

  &--full {
    width: 100%;
  }

  &--header {
    display: inline;
    margin: 0;
    padding: rem(8px) rem(12px);

    @include breakpoint(md) {
      display: inline-block;
      padding: rem(16px) rem(24px);
    }
  }
}

.panel-btn {
  border: none;
  border-radius: rem(2px);
  font-size: rem(14px);
  font-weight: 600;
  letter-spacing: rem(1px);
  min-width: rem(128px);
  padding: rem(8px) rem(12px);
  text-transform: uppercase;

  &::before {
    font-size: rem(14px);
    margin-right: rem(8px);
  }

  &.-filter {
    background-color: $color-yellow;
  }

  &.-success {
    background-color: $color-success-bg;
    border: 2px solid $color-success-bg;
    color: $color-success-text;

    &::before {
      content: '\e912';
    }
  }

  &.-cancel {
    border: 2px solid $color-error-bg;
    color: $color-error-text;

    &::before {
      content: '\e903';
    }
  }

  &.-warning {
    border: 2px solid $color-warning-bg;
    color: $color-warning-text;
  }
}
