.hidden {
  display: none;
}

.form {
  font-size: 1rem;
  margin: rem(16px) 0;

  @include transition(opacity 0.2s);

  @include breakpoint(md) {
    font-size: 0.875rem;
  }

  &.-disable {
    opacity: 0.2;
    pointer-events: none;
  }

  &__fields {
    display: block;
    position: relative;

    & > div {
      width: 100%;
    }

    & > div:first-child,
    & > ul:first-child {
      margin-right: rem(30px);
    }

    @include breakpoint(md) {
      display: flex;

      & > div {
        width: 100%;
      }
    }
  }

  &__field {
    margin-bottom: 1rem;
    position: relative;
  }

  &__error {
    color: $color-red-2;
    position: relative;
    top: rem(-12px);
  }

  &__message {
    margin-bottom: rem(16px);
  }

  input {
    &[type='text'],
    &[type='tel'],
    &[type='email'],
    &[type='password'] {
      border: 1px solid $color-grey-2;
      border-radius: rem(2px);
      box-shadow: 0 0 rem(2px) rgba(0, 0, 0, 0.5);
      min-height: rem(40px);
      padding-left: rem(12px);
      width: 100%;

      &::placeholder {
        opacity: 0;

        @include transition(opacity 0.15s);
      }

      &:focus,
      &:valid {
        border: 1px solid $color-yellow;
        box-shadow: none;

        &::placeholder {
          opacity: 1;
        }

        ~ label {
          font-size: rem(12px);
          padding: 0 rem(2px);
          top: 0;
        }
      }
    }

    &[type='file'] {
      border: none;
      display: flex;
      padding: rem(16px) 0;
    }
  }

  label {
    background: white;
    color: $color-grey-1;
    left: rem(14px);
    padding: 0 rem(2px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    @include transition(font-size 0.2s, padding 0.2s, top 0.2s);
  }

  &__other-fields {
    label {
      position: static;
    }
  }

  textarea {
    background: white;
    border: 1px solid $color-grey-2;
    border-radius: rem(2px);
    box-shadow: 0 0 rem(2px) rgba(0, 0, 0, 0.5);
    margin: rem(16px) 0;
    min-height: rem(196px);
    padding: rem(12px);
    width: 100%;
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: rem(24px);
  }

  &__checkbox {
    display: flex;
    margin-bottom: rem(16px);
    width: 30%;

    input {
      margin-right: rem(8px);
      min-height: 0;
      width: auto;
    }
  }
}
