/** LINKS **/
.link {
  color: $color-black;
  display: inline-block;
  font-size: rem(14px);
  margin-bottom: 1rem;
  position: relative;
  text-decoration: none;

  @include transition(color 0.2s);
  @include z-index(link);

  &:hover {
    color: $color-grey-1;

    &::after {
      transform-origin: 0 0;
      width: 0;
    }
  }

  &.-underline {
    &::after {
      background: $color-yellow;
      bottom: -2px;
      content: '';
      height: rem(6px);
      left: -2px;
      position: absolute;
      width: calc(100% + 4px);

      @include z-index(below);
      @include transition(width 0.2s);
    }
  }

  &.-hover-underline {
    @extend .-underline;

    color: $color-grey-1;
    margin: 0;

    &::after {
      width: 0;
    }

    &:hover {
      color: $color-black;

      &::after {
        width: calc(100% + 4px);
      }
    }
  }
}
