.login {
  background: linear-gradient(to right bottom, $color-white 50%, $color-yellow 50%);
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  .container {
    @extend .flex-xy-center;
  }

  &__window {
    background: $color-white;
    box-shadow: 0 0 rem(5px) rgba(0, 0, 0, 0.24);
    padding: rem(64px) rem(48px);
  }

  &__forgot-link {
    float: right;
  }
}
