.sign-up {
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  & .row {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__hero {
    display: none;

    img {
      width: 100%;
    }

    @include breakpoint(md) {
      background: $color-yellow;
      display: flex;
      height: 100vh;
      justify-content: center;
      position: absolute;
      right: 0;
      width: 80%;
    }
  }
}
