.container {
  height: 100%;
  margin: 0 auto;
  padding: 0 rem(16px);
  width: 100%;

  &--fluid {
    max-width: none;
  }

  &--top-spacing {
    margin-top: rem(112px);
  }

  @include breakpoint(sm) {
    max-width: $container-sm;
    padding: 0;
  }

  @include breakpoint(md) {
    max-width: $container-md;
  }

  @include breakpoint(lg) {
    max-width: $container-lg;
  }

  @include breakpoint(xl) {
    max-width: $container-xl;
  }
}
