.header {
  background: transparent;
  height: rem(96px);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__link {
    border-radius: rem(2px);
    color: $color-black;
    font-size: rem(14px);
    letter-spacing: rem(2px);
    padding: rem(12px);
    text-decoration: none;
    text-transform: uppercase;

    @include z-index(link);
    @include transition(transform 0.2s);

    &.-cta {
      background-color: $color-black;
      box-shadow: 0 rem(8px) rem(24px) rgba(0, 0, 0, 0.25);
      color: $color-white;
      display: inline-block;
      position: relative;

      &::after {
        border: 2px solid $color-black;
        border-radius: rem(2px);
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;

        @include transition(transform 0.2s, opacity 0.2s);
      }

      &:hover {
        transform: translate(rem(-8px), rem(8px));

        &::after {
          opacity: 1;
          transform: translate(rem(8px), rem(-8px));
        }
      }
    }

    &.-secondary {
      display: inline-block;

      &:hover {
        transform: translateY(rem(-4px));
      }
    }
  }

  &__toggler {
    border: none;

    @include breakpoint(md) {
      display: none;
    }
  }

  &__nav {
    background-color: $color-black;
    border-radius: rem(6px);
    box-shadow: 0 0 rem(5px) rgba(0, 0, 0, 0.25);
    margin-top: rem(32px);
    opacity: 0;
    padding: rem(24px) rem(32px);
    pointer-events: none;
    position: absolute;
    right: rem(15px);
    transform: translateY(rem(32px));

    @include z-index(mobileNavHidden);
    @include transition(opacity 0.2s, transform 0.2s);

    @include breakpoint(sm) {
      right: 0;
    }

    .header__link {
      color: $color-white;
      margin-right: 0;
    }

    li {
      margin-top: rem(16px);

      &:last-child {
        display: flex;
        justify-content: center;
      }
    }

    &.-active {
      opacity: 1;
      pointer-events: initial;
      transform: translateY(0);

      @include z-index(mobileNavVisible);
    }

    @include breakpoint(md) {
      align-items: center;
      background: none;
      box-shadow: none;
      display: flex;
      justify-content: center;
      margin: 0;
      opacity: 1;
      padding: 0;
      position: static;
      transform: translateY(0);

      @include z-index(header);

      .header__link {
        margin-right: rem(16px);
        margin-top: 0;

        &.-secondary {
          color: $color-black;
        }
      }

      li {
        margin: 0;
      }
    }
  }

  &__logo {
    height: rem(64px);
  }
}
