.header {
  background: transparent;
  height: rem(96px);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__right {
    a:first-child {
      margin-right: rem(16px);
    }
  }

  &__logo {
    height: rem(24px);
  }
}
