.panel__header {
  background-color: $color-white;
  box-shadow: 0 0 rem(5px) rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: rem(16px);
  padding-top: rem(16px);

  @include breakpoint(md) {
    background-color: $color-admin;
    padding-bottom: rem(24px);
    padding-top: rem(24px);
  }

  .header {
    &__toggler {
      background: none;
      border: none;
      display: flex;

      @include breakpoint(md) {
        display: none;
      }
    }

    &__person {
      align-items: center;
      display: flex;
      margin-right: rem(12px);

      img {
        border-radius: rem(8px);
        height: rem(40px);
        object-fit: cover;
        width: rem(40px);
      }

      span {
        display: none;

        @include breakpoint(md) {
          display: block;
          margin-left: rem(16px);
        }
      }
    }
  }
}
